body {
    background: RGB(146, 168, 209);
}
.card {
    display: inline-block;
    border: 1px solid black;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    vertical-align: middle;
    grid-gap: 10px 10px;
}
